# Dependency directories
.theme/node_modules/

# Vim swap files
*.swp

# log file
*.log*

# vscode files
.editorconfig
.vscode
.vs

# Nuxt generate
.theme/dist

# Nuxt build
.theme/.nuxt
.theme/.nitro
.theme/.cache
.theme/.output

# prebuild files
.theme/.public
.theme/.temp
.theme/content

# env files
.theme/.env.local

# Other
.DS_Store
.fleet
.idea
